* {
    margin:0;
    padding: 0;
}
body {
    background: #000;
    color: #666;
    text-align: center;
}
audio {
    width: 450px;
    margin: 30px;
}
.container {
    height: 420px;
    /* border: 2px solid #fff; */
    overflow: hidden;
}
.container ul {
    /* border: 2px solid #fff; */
    transition: 0.28s;
    list-style: none;
}
.container li {
    height: 30px;
    /* border:1px solid #fff; */
    line-height: 30px;
    transform: 0.28s;
}
.container li.active {
    color:#fff;
    /* font-size: ; */
    transform: scale(1.2);
}